/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.miu-icon-h1 a {
	background-image:url(images/h1.png); 
}
.miu-icon-h2 a {
	background-image:url(images/h2.png); 
}
.miu-icon-h3 a {
	background-image:url(images/h3.png); 
}
.miu-icon-h4 a {
	background-image:url(images/h4.png); 
}
.miu-icon-h5 a {
	background-image:url(images/h5.png); 
}
.miu-icon-h6 a {
	background-image:url(images/h6.png); 
}

.miu-icon-bold a {
	background-image:url(images/bold.png);
}
.miu-icon-italic a {
	background-image:url(images/italic.png);
}

.miu-icon-list-bullet a {
	background-image:url(images/list-bullet.png);
}
.miu-icon-list-numeric a {
	background-image:url(images/list-numeric.png);
}

.miu-icon-picture a {
	background-image:url(images/picture.png); 
}
.miu-icon-link a {
	background-image:url(images/link.png);
}

.miu-icon-quotes a	{
	background-image:url(images/quotes.png);
}
.miu-icon-code a	{
	background-image:url(images/code.png);
}

.miu-icon-preview a {
	background-image:url(images/preview.png);
}
